@layer base {
  html,
  body {
    background-color: var(--color-gray-100);
    color: var(--color-gray-00);
    font-family: var(--font-family-body);
    height: 100%;
    font-size: var(--font-size-m);
    font-size: 1em;
    scroll-behavior: smooth;
  }
}
