@use "reset";
@use "variables";
@use "fonts";

html,
body {
  background-color: var(--black);
  color: var(--white);
  font-family: Fenix, serif;
  height: 100%;
  font-size: var(--font-size-m);
  font-size: 1em;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  box-sizing: border-box;
  height: auto;
  min-height: 100%;
  position: relative;
}

.container {
  padding-top: 3em;
  padding-bottom: 45%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  gap: 5em;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
}

header {
  color: var(--gold);
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

h1 svg {
  height: 5em;
  display: block;
}

h2 {
  color: var(--gold);
  font-size: var(--font-size-m);
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--seperator-after);
}

main div {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

main div:not(:last-child):after {
  content: "";
  display: block;
  width: 2.5em;
  border-bottom: var(--white) solid 1px;
  padding-bottom: var(--seperator-before);
}

.name {
  color: var(--gold);
  font-size: var(--font-size-l);
}

.marbling {
  color: var(--gold);
  width: 100%;
}

.marbling svg {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.marbling--narrow {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
}

.marbling--wide {
  display: none;
}

.marbling--wide svg:first-child {
  left: 0;
  width: 40em;
}

.marbling--wide svg:last-child {
  right: 0;
  width: 15em;
}

@media (min-width: 600px) {
  .container {
    padding-top: calc(50vh - 10em);
    padding-bottom: 9em;
  }

  .content {
    flex-direction: row;
  }

  .marbling--narrow {
    display: none;
  }

  .marbling--wide {
    display: block;
  }
}

@media (min-width: 1024px) {
  html,
  body {
    font-size: 1.1em;
  }

  h1 svg {
    height: 7.5em;
    display: block;
  }
}
