@layer layout {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    overflow-x: clip;
    font-size: var(--font-size-m);

    &__inner {
      max-width: var(--width-container-max);
      width: 100%;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .main {
    flex-grow: 1;
  }
}
