# Port where server is spinned
SERVER_PORT=3000
PAYLOAD_PORT=3001

# Client folder relative to server
# Useful to retrieve content from client, like assets
CLIENT_DIST=/workspace/client-dist
# Shared config between client and server
CONFIG_PATH=/workspace/config

# Payload config
PAYLOAD_ENABLE=true
PAYLOAD_API_URL=http://app-payload:4001/api
PAYLOAD_SERVICE_USER=dev@setsetset.net
PAYLOAD_SERVICE_PASSWORD=xxx

# Analytics config
ANALYTICS_ID=analytics-id
ANALYTICS_DOMAIN=://analytics-domain
ANALYTICS_ENABLE=false

# Github Personal Access Token for NPM registry authentication
GITHUB_TOKEN=ghp_xxx

# Added by Payload
DATABASE_URL=mongodb://mongo/app
PAYLOAD_SECRET=xxx
ADMIN_EMAIL=loic@setsetset.net
NODE_ENV=development
MONGO_PORT=27017
