@use './utilities';
@use 'sass:map';
@use 'sass:color';

$colors: (
  'gray-00': #ffffff,
  'gray-10': #b4b4b4,
  'gray-20': #a9a9a9,
  'gray-50': #292929,
  'gray-80': #222222,
  'gray-100': #1e1e1e,
  'gold-10': #ffe14b,
  'gold-20': #fed81d,
  'gold-30': #d4af37,
  'gold-40': #ab9420,
  'gold-50': #6d5d0d,
);

:root {
  // BASE
  @each $name, $hex in $colors {
    --color-#{$name}: #{$hex};
    --color-#{$name}-rgb:
      #{color.channel($hex, 'red', $space: rgb)}, #{color.channel($hex, 'green', $space: rgb)},
      #{color.channel($hex, 'blue', $space: rgb)};
  }

  --font-size-base: #{utilities.pxToRem(18px)};
  --font-size-xs: #{utilities.pxToRem(12px)};
  --font-size-s: #{utilities.pxToRem(16px)};
  --font-size-m: #{utilities.pxToRem(18px)};
  --font-size-l: #{utilities.pxToRem(24px)};
  --font-size-xl: #{utilities.pxToRem(32px)};
  --font-size-xxl: #{utilities.pxToRem(48px)};
  --font-size-xxxl: #{utilities.pxToRem(64px)};
  --font-family-heading: Fenix, Garamond, serif;
  --font-family-body: 'DM Sans', 'Helvetica Neu', Helvetica, sans-serif;
  --font-family-mono: 'DM Mono', Monaco, courrier;

  --ease-time-short: 150ms;
  --ease-time-medium: 300ms;
  --ease-function: ease-in-out;

  --space-2: #{utilities.pxToRem(2px)};
  --space-4: #{utilities.pxToRem(4px)};
  --space-8: #{utilities.pxToRem(8px)};
  --space-12: #{utilities.pxToRem(12px)};
  --space-16: #{utilities.pxToRem(16px)};
  --space-24: #{utilities.pxToRem(24px)};
  --space-32: #{utilities.pxToRem(32px)};
  --space-48: #{utilities.pxToRem(48px)};
  --space-64: #{utilities.pxToRem(64px)};
  --space-80: #{utilities.pxToRem(80px)};
  --space-128: #{utilities.pxToRem(128px)};

  --radius-1: #{utilities.pxToRem(1px)};

  // COMPOSED
  --color-font-gold: var(--color-gold-30);

  --width-container-max: #{utilities.pxToRem(1600px)};
  --width-sidebar-skew: #{var(--space-80)};
  --width-sidebar-big: #{utilities.pxToRem(400px)};
  --width-sidebar-small: #{utilities.pxToRem(300px)};
  --width-sidebar: var(--width-sidebar-big);
  --width-home-column-left: #{utilities.pxToRem(320px)};
  --padding-content-x: #{var(--space-80)};
  --padding-footer-y: #{var(--space-80)};
  --gap-grid: var(--space-64);
}

.body {
  --padding-content-x-start: calc(
    var(--width-sidebar) + var(--width-sidebar-skew) + var(--padding-content-x)
  );

  &--sidebar-small {
    --width-sidebar: var(--width-sidebar-small);
  }
}
