@use '../utilities';

@layer module {
  .anchor {
    text-decoration: none;

    span {
      @include utilities.transition(color);
      text-decoration: underline;
      color: var(--color-gray-10);
    }

    &:before {
      content: '→';
      color: var(--color-gold-30);
      margin-right: var(--space-8);
      text-decoration: none;
    }

    &:hover {
      span {
        color: var(--color-gray-00);
      }
    }
  }
}
