@use "../utilities";

@layer modules {

  .menu {
    font-family: var(--font-family-heading);

    &__container {

    }

    &__item {

    }

    &__link {
      @extend %font-menu-large;
      text-decoration: none;
      @include utilities.transition(color);

      &:hover {
        color: var(--color-gray-00);
      }
    }
  }

}
