@use '../utilities';

@layer modules {
  .menu {
    font-family: var(--font-family-heading);

    &__link {
      @include utilities.font-menu-large;
      text-decoration: none;
      @include utilities.transition(color);

      &:hover {
        color: var(--color-gray-00);
      }
    }
  }
}
