@use '../utilities';

@layer modules {
  .separator {
    $size: utilities.pxToRem(2px);
    display: flex;
    gap: 0.5rem;

    &:before,
    &:after {
      content: '';
      display: block;
      width: $size;
      height: $size;
      background-color: currentColor;
      transform: rotate(45deg);
    }

    div {
      height: $size;
      width: 5rem;
      background-color: currentColor;
    }
  }
}
